<ion-header>
  <ion-toolbar>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="formCadastrar" (ngSubmit)="submitForm()" novalidate>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      @if (emailControl.touched) {
        @if (emailControl.hasError('required')) {
          <span class="error-message">Email é Obrigatório.</span>
        } @else if (emailControl.hasError('email')) {
          <span class="error-message">Formato de Email inválido.</span>
        }
      }

      <ion-item>
        <ion-label position="floating" >Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>

      @if (senhaControl.touched) {
        @if (senhaControl.hasError('required')) {
          <span class="error-message">Senha é Obrigatória.</span>
        } @else if (senhaControl.hasError('minlength')) {
          <span class="error-message">A senha é de no mínimo 6 caracteres.</span>
        }
      }

      <ion-item>
        <ion-label position="floating" >Confirmar Senha</ion-label>
        <ion-input type="password" formControlName="confSenha"></ion-input>
      </ion-item>

      @if (confSenhaControl.touched) {
        @if (confSenhaControl.hasError('required')) {
          <span class="error-message">A Confirmação de Senha é Obrigatória.</span>
        } @else if (confSenhaControl.hasError('minlength')) {
          <span class="error-message">A senha é de no mínimo 6 caracteres.</span>
        }
      }

      @if (formCadastrar.touched && formCadastrar.hasError('mismatch')) {
        <span class="error-message">As senhas não conferem.</span>
      }

      <ion-button expand="full" color="success" type="submit" [disabled]="formCadastrar.invalid">Cadastrar</ion-button>
    </form>
  </ion-list>
</ion-content>

