<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalhes do Console</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="none">
      <ion-input placeholder="Nome do Console" type="text" [(ngModel)]="nome"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input placeholder="Marca" type="text" [(ngModel)]="marca"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Ano de Lançamento</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime 
            id="datetime" 
            [(ngModel)]="anoLancamento"
            presentation="date"
            display-format="YYYY"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item lines="none">
      <ion-input placeholder="Armazenamento" type="text" [(ngModel)]="armazenamento"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input placeholder="Voltagem" type="text" [(ngModel)]="voltagem"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="excluir()" color="danger">Excluir</ion-button>
    <ion-button expand="block" (click)="salvar()" color="primary">Salvar</ion-button>
  </ion-list>
</ion-content>

